<div class="header-container">
  <div class="header-logo-text" (click)="goToHomeScreen()">{{ title }}</div>
  <div class="header-actions">
    <div class="icons-container">
      
      <button class="icon-label-container" (click)="goToResources()">
        <mat-icon class="icon">contacts</mat-icon>
        <span class="icon-label">Resources</span>
      </button>

      <button class="icon-label-container exit" (click)="exit()">
        <mat-icon class="icon">logout</mat-icon>
        <span class="icon-label">Exit</span>
      </button>
      
    </div>
  </div>
</div>
