.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 6vh;
  background: #7ca3ea;
  border-bottom: 2px solid #b6d3ff;
  box-shadow: 0px 0px 40px #00000066;
  position: relative;

  .header-logo-text {
    text-align: center;
    cursor: pointer;
    font-size: 3vh;
    font-weight: bold;
    color: #ffffffcc;
  }
  .icon-label-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 120px;

    .icon {
      font-size: 24px; /* Adjust the size as needed */
    }
    .circle {
      position: fixed;
      height: 14vw;
      width: 14vw;
      background: transparent;
      outline: 4vw solid #d83131aa;
      border-radius: 7vw;
    }
  }
  .exit {
    background-color: #ff6868;
    border: 3px solid #d83131;
    gap: 4px;
    margin-right: 8px;
  }
  .exit:focus {
    border: 3px solid white;
  }
  .resources {
    background-color: #7190c8;
    border: 3px solid #5476af;
    margin-left: 8px;
  }
  .resources:focus {
    border: 3px solid white;
  }
}
