.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 8vh;
    background: #93bbf9; 
    border-bottom: 3px solid #b6d3ff;
    box-shadow: 0px 0px 40px #00000066;
    .header-logo-text {
        cursor: pointer;
        text-align: center;
        color: white;
        font-size: 2em;
        font-weight: bold;

    }
}