<div class="header">
    <div class="header-logo-text" (click)="goToHomeScreen()">{{ title }}</div>
    <div class="header-chapter-text">{{ chapterTitle }}</div>
    <div class="header-actions"> 
        <div class="icons-container">
            <div class="icon-label-container" (click)="goToResources()">
                <mat-icon class="icon">contacts</mat-icon>
            </div>
            
            <div class="icon-label-container exit" (click)="exit()">
                <mat-icon class="icon">logout</mat-icon>
                <span class="icon-label">Exit</span>
            </div>
        </div>
    </div>
</div>
