.chapter-2-1-container {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  .dialogue-container {
    width: 100%;
    max-width: 65vh;
  }
  .character-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .character-container {
      flex-shrink: 0;
      max-width: 40vw;
      max-height: 120vh;
      object-fit: contain;
      min-width: 20vh;
      object-position: 100% 100%;
      filter: drop-shadow(0 0 30px #000000bb);
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 20px;
      padding: 20px;
      box-sizing: border-box;
      height: fit-content;
    }

    .grid-item {
      background-color: #ffffff;
      border: 1px solid #cccccc;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      text-align: center;
      .content {
        font-weight: bold;
        padding: 8px;
        font-size: 0.75em;
      }
      .title {
        font-size: 1em;
      }
    }

    @media (max-width: 580px) {
      .grid-item {
        .content {
          font-size: 0.5em;
          padding: 5px;
        }
        .title {
          font-size: 0.75em;
        }
      }
    }
  }
}
