.info-block-container {
  position: absolute;
  max-width: 90vh;
  left: 4vw;
  right: 4vw;
  margin: auto;
  padding: 15vh 0;
}

.info-block {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 2vw;
  background: #FFFFFFDD;
  border-radius: 10px;
  border: 5px solid #FFFFFFCC;
  box-shadow: 0 0 40px #00000066;
}

.button-row {
  width: 50%;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.info-block-button {
  position: relative;
  height: 5vh;
  width: 35%;
  font-size: 1.4rem;
  background-color: #92aa79;
  border-radius: 8px;
  color: white;
}