<app-header></app-header>

<div class="home-container">
  <div class="top-buttons">
    <a routerLink="/chapter1" class="chapter-button">Chapter 1</a>
    <a routerLink="/chapter2" class="chapter-button">Chapter 2</a>
  </div>
  <div class="bottom-space">
    <div class="chapter-3">
      <a routerLink="/chapter3" class="chapter-button">Chapter 3</a>
    </div>
    <div class="resources">
      <a routerLink="/resources" class="circle-button">Resources</a>
    </div>
  </div>
  <div class="exit-button">
    <button class="circle-button" (click)="exit()">Exit</button>
  </div>
</div>
