/* Styles for the option grid container */
.grid-container {
  display: grid;
  grid-gap: 20px; /* Adjust the gap between grid items */
  box-sizing: border-box;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 35px;
}

/* Styles for 3 options in a single column */
.three-options {
  grid-template-columns: 1fr; /* Single column layout */
}

/* Styles for 4 options in a 2x2 grid */
.four-options {
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 6px 0;
  background: #fae3ff;
  border: 5px solid #d681e9;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  width: 275px;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .grid-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    background: #d681e9;
    border: 0 solid #00000000;
    color: white;
    width: 100%;
    padding: 2px 0 6px 0;
  }
  .title {
    font-weight: bold;
    margin-left: 4px;
  }
  .body{
    display: flex;
    width: 100%;
    align-items: center;
    .preview {
      height: 70px;
      margin: 10px 10px;
    }
    .text-area {
      width: 100%;
      color: #5a2466;
      .content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 6px 10px 0 10px;
        font-size: 1em;
      }
      .content-value {
        background: #fcb4fe;
        padding: 4px 8px;
        border-radius: 4px;
      }
      .learn-more {
        text-align: center;
        padding: 10px 10px 2px 10px;
        font-size: 1em;
        font-weight: 700;
        opacity: .6;
      }
    }
  }
  
}
