.custom-progress-bar {
  position: fixed;
  bottom: 7vh;
  height: 1.5vh; /* Adjust the height as desired */
  background-color: #f2f2f2; /* Off-white background color */
}

.mdc-linear-progress__bar {
  margin: 5px;
}
