.components-above-background {
    z-index: 100;
    .character {
        position: fixed;
        width: 40vw;
        height: 60vh;
        top: 30vh;
        object-fit: contain;
        min-width: 20vh;
        &.character-left {
            left: 0vw;
            object-position: 100% 100%;
        }
        
        &.character-right {
            display: block;
            right: 0vw;
            object-position: 0% 100%;
        }
    }
    .right-character-container {
        position: relative; /* Relative positioning for absolute positioning of bubbles */
        display: inline-block; /* Inline-block to fit the image size */
        
    }
    .bottom-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        width: 100%;
        align-items: end;
        .primary-button {
            width: 30vw;
	        height: 10vh;
            cursor: pointer;
            font-size: calc(1.5vw + 0.5rem); /* Example calculation */
        }
        #home-button {
            background: green;
            color: white;
        }
        #quit-button {
            background: red;
            color: white;
        }
        #continue-text {
            text-align: center;
            color: white;
            margin: 10px;
            font-size: 1.5rem;
        }
    }
   

    

   
}
 