<div class="option-box">
  <div class="option-box-title">
    {{ section.name }}
  </div>
  <div class="option-box-body">
    <div class="option-box-row">
      <div class="option-box-preview-container">
        <img class="option-box-preview" [src]="section.preview" />
      </div>
      <div class="option-box-section">
        <i>{{ section.description }}</i>
      </div>
    </div>
    <div class="option-box-row">
      <div class="option-box-section">
        {{ section.price }}
      </div>
      <div class="option-box-section">
        {{ section.effectiveness }}
      </div>
      <div class="option-box-section">
        {{ section.duration_long }}
      </div>
    </div>
    <div class="option-box-section">
      <b>Change in Periods:</b> {{ section.periods }}
    </div>
    <div class="option-box-section">
      <b>Privacy Considerations:</b> {{ section.privacy }}
    </div>
  </div>
</div>
