<div class="option-box">
  <div class="option-box-title">
    {{ contraception.name }}
  </div>
  <div class="option-box-body">
    <div class="option-box-row">
      <div class="option-box-preview-container">
        <img class="option-box-preview" [src]="contraception.preview" />
      </div>
      <div class="option-box-section">
        <i>{{ contraception.description }}</i>
      </div>
    </div>
    <div class="option-box-row">
      <div class="option-box-section">
        {{ contraception.price }}
      </div>
      <div
        class="option-box-section"
        *ngIf="contraception.use_within_long !== undefined"
      >
        {{ contraception.use_within_long }}
      </div>
      <div
        class="option-box-section"
        *ngIf="contraception.effectiveness_long !== undefined"
      >
        {{ contraception.effectiveness_long }}
      </div>
      <div
        class="option-box-section"
        *ngIf="contraception.duration_long !== undefined"
      >
        {{ contraception.duration_long }}
      </div>
    </div>
    <div class="option-box-section">
      <b>Change in Periods:</b> {{ contraception.periods }}
    </div>
    <div class="option-box-section">
      <b>Privacy Considerations:</b> {{ contraception.privacy }}
    </div>
  </div>
</div>
