<div class="content-container">
    <app-header chapterTitle="Welcome to C-Arches!"></app-header>
    
    <h1>Relationships affect your physical and emotional health.</h1>
    
    In your life, who decides...<br>
    🔹If and how to have sex?<br>
    🔹If and when to have kids?<br>
    🔹How to prevent pregnancy?<br>
    🔹How to handle an unplanned pregnancy?<br>
    <br>
    Your voice matters in these decisions.<br>
    <br>
    Learn how to support your friends and how healthcare providers can help you stay happy and healthy.<br>
    <br>
    <i>This program takes around 5 minutes to complete.</i>
    <br>

    <button class="" routerLink="/chapter/0">
        Begin!
    </button>
    
</div>
