.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: auto;
  color: white;
}

.title-container {
  width: 95%;
  margin: auto;
  text-align: center;
}

.character-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  .character-container {
    flex-shrink: 0;
    max-width: 35vw;
    max-height: 60vh;
    object-fit: contain;
    min-width: 20vh;
    object-position: 100% 100%;
    filter: drop-shadow(0 0 30px #00000066);
  }

  .additional-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 2vw;
    z-index: 1;
    max-width: 65vh;
  }
}

.begin-button {
  padding: 10px;
  border-radius: 4px;
  background-color: #92aa79;
  border: 5px solid #71845d;
  color: white;
}

.begin-button.focus {
  border: 5px solid #cce7b0;
}

.begin-button:hover {
  border: 5px solid #cce7b0;
}
.begin-button:focus {
  border: 5px solid #cce7b0;
}
.begin-button:active {
  border: 5px solid #f3ffe7;
}