.chapter-title-overlay {
  position: fixed;
  top: calc(6vh + 2px);
  bottom: 8.5vh;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.5s ease;
}

.overlay-content {
  text-align: center;
  color: white; /* White text color for contrast */
  filter: drop-shadow(0 0 30px black);
}

.chapter-title {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 0.1em;
  filter: drop-shadow(0 0 30px black);
}

hr {
  width: 75%;
}

.chapter-description {
  font-size: 2em;
  margin: 0.5em auto;
  width: 70%;
  filter: drop-shadow(0 0 30px black);
}

@media (max-width: 500px) {
  .chapter-title {
    font-size: 3.5em;
  }
  .chapter-description {
    font-size: 1.5em;
  }
}
