<div class="dialogue-container" [ngClass]="speaker !== 2 ? 'left' : 'right'">
  <ng-container
    *ngFor="let segment of currentLine.segments; let s = index">
    <span
    *ngFor="let char of segment.characters; let i = index"
    [ngClass]="{
      visible: currentSegment >= s && currentLetter >= i,
      invisible: currentSegment < s || (currentSegment == s && currentLetter < i),
      red: segment.params.indexOf('red') > -1,
      bold: segment.params.indexOf('bold') > -1
    }">{{ char }}</span>
  </ng-container>
  <div *ngIf="showLeftTriangle" class="triangle side-triangle-left"></div>
  <div *ngIf="showLeftTriangle" class="triangle side-triangle-left-inlay"></div>
  <div
    *ngIf="!showLeftTriangle && speaker === 0"
    class="triangle bottom-triangle-left"
  ></div>
  <div
    *ngIf="!showLeftTriangle && speaker === 0"
    class="triangle bottom-triangle-left-inlay"
  ></div>
  <div
    *ngIf="!showLeftTriangle && speaker === 1"
    class="triangle bottom-triangle-middle"
  ></div>
  <div
    *ngIf="!showLeftTriangle && speaker === 1"
    class="triangle bottom-triangle-middle-inlay"
  ></div>
  <div
    *ngIf="!showLeftTriangle && speaker === 2"
    class="triangle bottom-triangle-right"
  ></div>
  <div
    *ngIf="!showLeftTriangle && speaker === 2"
    class="triangle bottom-triangle-right-inlay"
  ></div>
</div>
