.dialogue-container {
  position: relative;
  z-index: 100;
  word-spacing: 0.2em;
  border-radius: 0.5em;
  padding: 1.5vh;
  max-width: 65vh;
  line-height: 1.2em;
  margin: 20px 10px 30px;
  font-size: 22px;
  font-family: 'Comic Sans MS', sans-serif;
  outline: 5px solid black;
  filter: drop-shadow(0 0 15px #FFFFFF44);
}

@media (max-width: 1000px) {
  .dialogue-container {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .dialogue-container {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .dialogue-container {
    font-size: 16px;
  }
}

.visible {
  color: #000000ff;
}

.invisible {
  color: #00000044;
}

.left {
  background: #D1F2FFFF;
  box-shadow: 0 0 25px inset #0000FF55;
}

.right {
  background: #E5FFE0FF;
  box-shadow: 0 0 25px inset #00FF0055;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 99;
  filter: drop-shadow(0 0 20px #FFFFFF55);
}

.bottom-triangle-left {
  transform: translate(0%, 100%);
  left: 30%;
  bottom: 0;
  border-bottom: 5vh solid transparent;
  border-left: 7vh solid black;
}

.bottom-triangle-left-inlay {
  transform: translate(0%, 100%);
  left: calc(30% + .75vh);
  bottom: 0;
  border-bottom: 3.5vh solid transparent;
  border-left: 5vh solid #bcd9ff;
}

.bottom-triangle-middle {
  transform: translate(-50%, 100%);
  left: 50%;
  bottom: 0;
  border-top: 5vh solid black;
  border-right: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
  border-left: 5vh solid transparent;
}

.bottom-triangle-middle-inlay {
  transform: translate(-50%, 100%);
  left: 50%;
  bottom: 0;
  border-top: 4vh solid #bcd9ff;
  border-right: 4vh solid transparent;
  border-bottom: 4vh solid transparent;
  border-left: 4vh solid transparent;
}

.bottom-triangle-right {
  transform: translate(0%, 100%);
  right: 30%;
  bottom: 0;
  border-bottom: 5vh solid transparent;
  border-right: 7vh solid black;
}

.bottom-triangle-right-inlay {
  transform: translate(0%, 100%);
  right: calc(30% + .75vh);
  bottom: 0;
  border-bottom: 3.5vh solid transparent;
  border-right: 5vh solid #d5ffcf;
}

.side-triangle-left {
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid black;
}

.side-triangle-left-inlay {
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #bcd9ff;
}