.components-above-background {
    z-index: 100;
    .character {
        position: fixed;
        width: 40vw;
        height: 60vh;
        top: 30vh;
        object-fit: contain;
        min-width: 20vh;
        &.character-left {
            left: 0vw;
            object-position: 100% 100%;
        }
        
        &.character-right {
            display: block;
            right: 0vw;
            object-position: 0% 100%;
        }
    }
    .right-character-container {
        position: relative; /* Relative positioning for absolute positioning of bubbles */
        display: inline-block; /* Inline-block to fit the image size */
    }
}
 