<div class="large-screen-container" (click)="handleClick($event)">
  <dialogue class="dialogue-container"></dialogue>
  <div class="character-extra-content-container">
    <img
      class="character no-interaction"
      [src]="section.characterImage"
      alt="Description of the image"
    />
    <app-grid-options
      *ngIf="section.gridOptionIndexes !== undefined"
      [section]="section"
      (clickedOption)="emitOptionClickEvent($event)"
    ></app-grid-options>
    <app-option-content
      *ngIf="section.contraception !== undefined"
      [contraception]="section.contraception!"
    ></app-option-content>
    <app-additional-content
      *ngIf="section.bullets !== undefined"
      [additionalContent]="section.bullets!"
    ></app-additional-content>
  </div>
  <div class="tutorial" *ngIf="showTutorial">
    {{ tutorial }}
  </div>
</div>
