.monologue-container {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;

  justify-content: flex-start;
  flex-grow: 1;
  .dialogue-container {
    width: 100%;
    max-width: 65vh;
  }
  .character-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .character-container {
      flex-shrink: 0;
      max-width: 40vw;
      max-height: 120vh;
      object-fit: contain;
      min-width: 20vh;
      object-position: 100% 100%;
    }
  }

  .additional-content{
    display: flex;
    flex-direction: column;
    height: fit-content;
    z-index: 1;
    background: #00000088;
    border: 5px solid #FFFFFF33;
    border-radius: 8px;
    padding: 2vw;
    color: #FFFFFFEE;
  }
}