<div class="monologue-container" (click)="handleClickOrSpace()">
  <ng-container *ngIf="screenWidth$ | async as screenWidth">
    <ng-container *ngIf="screenWidth > 768"
      ><app-large-screen
        class="fill-height-width"
        [section]="section"
        [additionalContent]="additionalContent"
        (clickedOption)="emitOptionClickEvent($event)"
      ></app-large-screen
    ></ng-container>
    <ng-container *ngIf="screenWidth <= 768">
      <app-small-screen
        class="fill-height-width"
        [section]="section"
        [additionalContent]="additionalContent"
        (clickedOption)="emitOptionClickEvent($event)"
      ></app-small-screen>
    </ng-container>
  </ng-container>
</div>
