<div class="monologue-container" (click)="handleClickOrSpace()">
    <dialogue class="dialogue-container" [currentLineIndex$]="currentLineIndex$" [dialogueLines]="chapter.dialogueLines!"></dialogue>
    <div class="character-wrapper">
        <img class="character-container" [src]="chapter.characterImage">
        <div class="additional-content" *ngIf="additionalContent.length > 0">
            <div *ngFor="let content of additionalContent">
                {{ content }}
            </div>
        </div>
    </div>
</div>