<div class="monologue-container" (click)="handleClickOrSpace()">
  <ng-container *ngIf="screenWidth$ | async as screenWidth">
    <ng-container *ngIf="screenWidth > 768 || section.layout !== 'content'"
      ><app-large-screen
        class="fill-height-width"
        [section]="section"
        (clickedOption)="emitOptionClickEvent($event)"
      ></app-large-screen
    ></ng-container>
    <ng-container *ngIf="screenWidth <= 768 && section.layout === 'content'">
      <app-small-screen
        class="fill-height-width"
        [section]="section"
        (clickedOption)="emitOptionClickEvent($event)"
      ></app-small-screen>
    </ng-container>
  </ng-container>
</div>
