<div class="content-container">
    <app-header chapterTitle="Congratulations!"></app-header>

    <h1>You finished C-Arches.</h1>
    
    For additional info, check our list of resources. Many organizations specialize in helping people stay safe and healthy in their relationships.<br>

    We hope learning about these issues will help you support healthier relationships in your community.<br>

    Be kind, stand up for yourself, and look out your friends. We're all in this together!<br>

    <button class="" routerLink="">
        Home
    </button>

    <button class="" routerLink="/resources">
        Resources
    </button>
    
</div>

<app-copyright></app-copyright>