<app-main-container chapterTitle="Congratulations!">
  <div class="welcome-container">
    <div class="title-container">
      <h1>Congratulations, you finished C-Arches!</h1>
    </div>
    <div class="character-wrapper">
      <img class="character-container no-interaction" [src]="character" />
      <div class="additional-content">
        We hope learning about these issues will help you support healthier
        relationships in your community.<br />
        <br />
        Be kind, stand up for yourself, and look out your friends. We're all in
        this together!<br />
        <br />
        <button class="begin-button" routerLink="">Home</button>
        <br />
      </div>
    </div>
    <div class="title-container">
      <h1>You are not alone.</h1>
      <p>For additional info, check out the resources below.</p>
      <p>Many organizations specialize in helping people stay safe and healthy in their relationships.</p>
    </div>
    <app-resource-list></app-resource-list>
  </div>

  <app-copyright></app-copyright>
</app-main-container>
