.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 auto; /* Header takes only as much space as it needs */
}

.content {
  position: fixed;
  top: 6vh;
  left: 0;
  right: 0;
  overflow: auto;
}

.content-short {
  bottom: 8.5vh;
}

.content-full {
  bottom: 0vh;
}

.footer {
  flex: 0 0 auto; /* Footer takes only as much space as it needs */
}
