.main-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.header {
  flex: 0 0 auto; /* Header takes only as much space as it needs */
}

.content {
  flex: 1;
  position: relative;
  // position: fixed;
  // top: 6vh;
  // left: 0;
  // right: 0;
  overflow: auto;
}

.footer {
  flex: 0 0 auto; /* Footer takes only as much space as it needs */
}
