<div class="main-container">
  <app-header class="header" *ngIf="showHeader"> </app-header>

  <div
    class="content"
    [ngClass]="showFooter === true ? 'content-short' : 'content-full'"
  >
    <app-background
      *ngIf="backgroundImage"
      [backgroundImage]="backgroundImage"
      [blackOut]="blackOut"
    ></app-background>
    <ng-content> </ng-content>
  </div>

  <app-footer
    class="footer"
    *ngIf="showFooter"
    [chapterTitle]="chapterTitle"
    [showNextButton]="showNextButton"
  >
  </app-footer>
</div>
