.login-body {
  position: fixed;
  top: 12vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  text-align: center;
  color: white;
}

.password-input {
  width: 80vw;
  max-width: 300px;
  height: 5vh;
  border-radius: 6px;
}

.password-submit {
  width: 80vw;
  max-width: 300px;
  height: 5vh;
  margin-top: 1vh;
  border-radius: 6px;
}
