.text {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80vw;
    max-width: 60vh;
    font-size: 3.5vh;
    word-spacing: 0.2em;
    background: #fff;
    padding: 1em;
    border-bottom: 1vw solid #0e6dad;
    border-radius: .5em;
    line-height: 1.2em;
}

.left {
    outline: 5px solid red;
}

.right {
    outline: 5px solid green;
}