.text {
    position: fixed;
    z-index: 100;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80vw;
    max-width: 60vh;
    font-size: 3.5vh;
    word-spacing: 0.2em;
    background: #fff;
    padding: 1em;
    border-radius: .5em;
    line-height: 1.2em;
}

.left {
    outline: 5px solid red;
}

.right {
    outline: 5px solid green;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 99;
    bottom: 0;
    border-bottom: 50px solid transparent;

}

.triangle-left {
    transform: translate(0%, 100%);
    left: 5vw;
    border-left: 100px solid red;
}

.triangle-right {
    transform: translate(0%, 100%);
    right: 5vw;
    border-right: 100px solid green;
}
