.bottom-nav {
    background: #93bbf9;
    color: white;
    border-top: 3px solid #b6d3ff;
    box-shadow: 0px 0px 40px #00000066;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;
    
    .primary-button {
        height: calc(100% - 6px);
        margin: 3px;
        width: 25vw;
        min-width: 80px;
        cursor: pointer;
        font-size: calc(1.5vw + 0.3rem);
        border-radius: 8px;
    }
    
    #resources-button {
        background: #9aa400;
        color: white;
        border-color: #798200;
    }
    
    #quit-button {
        background: #b75858;
        color: white;
        border-color: #9c4444;
    }
    
    #continue-text {
        text-align: center;
        color: white;
        margin: 10px;
        font-size: calc(1.5vw + .5rem);
    }
}