<div class="bottom-nav" *ngIf="showText">
    <div class="icon-label-container previous" (click)="goToResources()">
        <mat-icon class="icon">chevron_left</mat-icon>
        <span class="icon-label">Previous</span>
    </div>
    <div class="continue-text">
        Click or press space to continue.
    </div>
    <div class="icon-label-container next" (click)="goToResources()">
        <span class="icon-label">Chapter</span>
        <mat-icon class="icon">chevron_right</mat-icon>
    </div>
</div>