.footer-container {
  background: #93bbf9;
  color: white;
  border-top: 3px solid #b6d3ff;
  box-shadow: 0px 0px 40px #00000066;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 8vh;

  .back-button,
  .next-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    gap: 2px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    .icon {
      transform: scale(1.5);
    }

    .icon-label {
      font-size: calc(1.5vw + 0.5rem); /* Adjust the label size as needed */
    }
  }

  .back-button {
    margin-right: auto; /* Ensure it stays on the left when the next button is hidden */
  }

  .disabled {
    pointer-events: none;
  }
}
