<app-main-container
  [backgroundImage]="chapterContent.backgroundImage!"
  [blackOut]="sectionContent.overlay || false"
  [chapterTitle]="chapterContent.chapterTitle"
  [showNextButton]="sectionContent.additionalContent !== 'option-box'"
  [showFooter]="true"
>
  <ng-container *ngIf="sectionContent.sectionType as type">
    <app-scene
      *ngIf="type === 'scene'"
      [section]="sectionContent"
      [additionalContent]="additionalContent"
      (onClickOrSpace)="goToNextDialogLine()"
    ></app-scene>
    <app-monologue
      *ngIf="type === 'monologue'"
      [section]="sectionContent"
      (onClickOrSpace)="goToNextDialogLine()"
      (clickedOption)="finishedSection($event)"
    >
    </app-monologue>
  </ng-container>
</app-main-container>
