.option-content {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  .dialogue-container {
    width: 100%;
    max-width: 65vh;
  }
  .character-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .character-container {
      flex-shrink: 0;
      max-width: 40vw;
      max-height: 120vh;
      object-fit: contain;
      min-width: 20vh;
      object-position: 100% 100%;
      filter: drop-shadow(0 0 30px #000000bb);
    }

    .option-box {
      background: #fae3ff;
      border: 5px solid #d681e9;
      text-align: center;
      border-radius: 8px;
      cursor: pointer;
      max-width: 65vh;
      height: fit-content;
    }
    
    .option-box-title {
      margin: 0;
      padding: 10px;
      background: #d681e9;
      border: 0 solid #00000000;
      color: white;
      text-align: left;
      font-size: 18px;
      font-weight: bold;
    }

    .option-box-main {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: start;
      flex-grow: 1;
      margin: auto;
    }
    
    .option-box-section {
      background: #f2b8ff;
      border-radius: 4px;
      text-align: left;
      color: #5a2466;
      margin: 10px 10px;
      padding: 10px;
    }
    
    .option-box-preview {
      width: 60px;
      height: 60px;
    }
    
    @media (max-width: 990px) {
      .option-box {
        h2 {
          font-size: 18px;
        }

        h4 {
          font-size: 10px;
        }
        
        p {
          font-size: 10px;
        }
        
        .option-box-section {
          font-size: 10px;
        }
      }
    }

    @media (max-width: 580px) {
      .option-box {
        h2 {
          font-size: 20px;
        }

        h4 {
          font-size: 12px;
        }
        
        p {
          font-size: 12px;
        }

        .option-box-section {
          font-size: 12px;
        }
      }
    }
  }
}
