.small-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Pushes characters to the bottom */
  align-items: center;
  width: 100%; /* Ensure it fills the available width */

  .dialog-character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    max-width: 65vh;
  }
}

.circle-container {
  max-width: 150px; /* Adjust based on your desired width */
  max-height: 150px; /* Adjust based on your desired height */
}

/* Styles for the image */
.circle-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.dialogue-container {
  flex-grow: 1; /* Allow dialogue container to grow in height */
  padding: 10px; /* Adjust padding as needed */
}
