<div class="small-screen-container" (click)="handleClick($event)">
  <div class="dialog-character-container no-interaction">
    <div class="circle-container no-interaction">
      <img
        class="character"
        [src]="section.characterImageCircle"
        alt="Description of the image"
      />
    </div>
    <dialogue [showLeftTriangle]="true" class="dialogue-container"></dialogue>
  </div>

  <app-grid-options
    *ngIf="section.gridOptionIndexes !== undefined"
    [section]="section"
    (clickedOption)="emitOptionClickEvent($event)"
  ></app-grid-options>
  <app-option-content
    *ngIf="section.contraception !== undefined"
    [contraception]="section.contraception!"
  ></app-option-content>
  <app-additional-content
    *ngIf="section.bullets !== undefined"
    [additionalContent]="section.bullets!"
  ></app-additional-content>
</div>
