<app-main-container [backgroundImage]="backgroundImage" [blackOut]="false">
  <div class="home-container">
    <div class="button-container">
      <div class="top-buttons">
        <button class="chapter-button" routerLink="/intro">
          <div class="chapter-button-title">Intro</div>
          <i>Meeting Sam</i>
        </button>
        <button class="chapter-button" routerLink="/cafe">
          <div class="chapter-button-title">The Cafe</div>
          <i>Reproductive<br />Coercion</i>
        </button>
        <button class="chapter-button" routerLink="/clinic">
          <div class="chapter-button-title">The Clinic</div>
          <i>Taking action and<br />getting protection</i>
        </button>
      </div>
    </div>
  </div>
</app-main-container>
