.buttons-container {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  gap: 20px; /* Space between buttons */
  justify-content: center;
  align-items: center;
  padding: 20px; /* Optional padding around the container */
  margin: auto;
}
  
.chapter-button {
  padding: 50px 50px;
  font-size: 1.5rem;
  background-color: #2771a3;
  box-shadow: 0px 0px 40px #00000066;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
  