<app-monologue
    [chapter]="chapter">
</app-monologue>
<div class="options-container options-grid" *ngIf="currentIndex === -1">
    <div class="option-box" *ngFor="let item of chapter.data; let i = index" (click)="select(i)">
        <h2>{{ item.name }}</h2>
        <h3>{{ item.price }}</h3>
        <h3>{{ item.effectiveness }}</h3>
    </div>
</div>

<div class="options-container" *ngIf="currentIndex !== -1">
    <div class="option-box">
        <h2>{{ chapter.data[currentIndex].name }}</h2>
        <h3>{{ chapter.data[currentIndex].price }}</h3>
        <h3>{{ chapter.data[currentIndex].effectiveness }}</h3>
        <div class="button-row">
            <button class="info-block-button previous-button" (click)="back()">
                Back
            </button>
            <button class="info-block-button next-button" (click)="continue()">
                Continue
            </button>
        </div>
    </div>
</div>


