<app-header></app-header>



<div class="resource-row">
    <div class="resource-column">
        <app-card *ngFor="let resource of leftColumn" 
                  [title]="resource.name"
                  [subtitle]="resource.subtitle"
                  [description]="resource.description">
        </app-card>
    </div>
    <div class="resource-column">
        <app-card *ngFor="let resource of rightColumn"
                  [title]="resource.name"
                  [subtitle]="resource.subtitle"
                  [description]="resource.description">
        </app-card>
    </div>
</div>

<app-footer [showText]="false"></app-footer>