.info-block-container {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  max-width: 100vh;
  padding: 20px;
}

.info-block {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 2vw;
  background: #FFFFFFDD;
  border-radius: 10px;
  border: 5px solid #FFFFFFCC;
  box-shadow: 0 0 40px #00000066;
}

.info-block-button-row {
  gap: 15px;
  display: flex;
  justify-content: center;
}

.info-block-button {
  height: 5vh;
  width: 25vw;
  max-width: 100px;
  background-color: #92aa79;
  border-radius: 8px;
  color: white;
}