/* You can add global styles to this file, and also import other style files */
 
body {
    background-color: #7197d1;
    padding: 0;
    margin: 0;
    font-family: 'Sora', monospace;
}

.no-interaction {
    pointer-events: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.info-block-button-row {
    gap: 15px;
    display: flex;
    justify-content: center;
}

.info-block-button {
    height: 5vh;
    width: 25vw;
    max-width: 100px;
    background-color: #92aa79;
    border-radius: 8px;
    color: white;
}