// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$c-arches-frontend-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$violet-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($c-arches-frontend-theme);
  --mdc-linear-progress-active-indicator-color: #e342f5;
  --mdc-linear-progress-active-indicator-height: 10px;
  --mdc-linear-progress-track-height: 10px;
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($c-arches-frontend-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($c-arches-frontend-theme);
/* You can add global styles to this file, and also import other style files */

body {
  background-color: #7197d1;
  padding: 0;
  margin: 0;
  font-family: 'Sora', monospace;
}

.no-interaction {
  pointer-events: none;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.info-block-button-row {
  gap: 15px;
  display: flex;
  justify-content: center;
}

.info-block-button {
  height: 5vh;
  width: 25vw;
  max-width: 100px;
  background-color: #92aa79;
  border-radius: 8px;
  color: white;
}

.transparent-dialog .mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
}

.transparent-backdrop {
  background: transparent !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
